
.flex{
    display: flex;
    flex-direction: row;
}

.flex .column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}


.space-around{
    justify-content: space-around;
}

